body {
  padding-bottom: 80px;
}

.spinner-wrapper {
  text-align: center;
}

pre.log-box {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: rgb(0, 0, 0);
  color: rgb(248, 248, 248);
}

.splash {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}
